.one{
    background-image: url(images/donation0.jpg);
    background-repeat:no-repeat ;
    width: 50%;background-size: cover;
    height: 100vh; margin: 1px auto;
    display: block;
    text-align: center;
}
.donate{
    text-decoration: none; border: 5px; border-radius: 5px;
    background-color: red; padding: 10px 30px; justify-content: center;
}